<?xml version="1.0"?> 
<!-- Example launch file for multiple AR Drones -->
<launch>
  <!-- Include the ardrone launch file for each drone.
       IMPORTANT: Ensure the namespace for each include is unique. -->

  <group ns="ardrone1">
    <param name="tf_prefix" value="ardrone1" />
    <include file="$(find ardrone_autonomy)/launch/ardrone.launch">
      <arg name="ip" value="192.168.1.152" />
      <!-- Choose ultrasound frequencies to help reduce interference between drones.
           Available values are '7' or '8'. -->
      <arg name="freq" value="7" />
    </include>
  </group>

  <!-- Add second drone -->
  <group ns="ardrone2">
    <param name="tf_prefix" value="ardrone2" />
    <include file="$(find ardrone_autonomy)/launch/ardrone.launch">
      <arg name="ip" value="192.168.1.157" />
      <arg name="freq" value="8" />
    </include>
  </group>

</launch>
