<!-- This is a sample lanuch file, please change it based on your needs -->
<launch>
	<node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" clear_params="true">
	    <param name="outdoor" value="1" />
	    <param name="max_bitrate" value="4000" />
	    <param name="bitrate" value="4000" />
	    <param name="navdata_demo" value="0" />
	    <param name="flight_without_shell" value="0" />
	    <param name="altitude_max" value="3000" />
        <param name="altitude_min" value="50" />
        <param name="euler_angle_max" value="0.21" />
        <param name="control_vz_max" value="700" />
	    <param name="control_yaw" value="1.75" />
	    <param name="detect_type" value="10" />
	    <param name="enemy_colors" value="3" />
	    <param name="detections_select_h" value="32" />
	    <param name="detections_select_v_hsync" value="128" />
	    <param name="enemy_without_shell" value="0" />
	    <param name="do_imu_caliberation" value="false" />
	    <param name="tf_prefix" value="mydrone" />
        <!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
        <rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
        <rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
	</node>
</launch>


[ INFO] [1352732805.943114218]: SEND: CAT_COMMON/altitude_max = 4000.000000 (DEFAULT = 3000.000000)
[ INFO] [1352732805.943343921]: SEND: CAT_COMMON/altitude_min = 150.000000 (DEFAULT = 50.000000)
[ INFO] [1352732805.943436818]: SEND: CAT_COMMON/outdoor = 1.000000 (DEFAULT = 0.000000)
[ INFO] [1352732805.943523631]: SEND: CAT_COMMON/flight_without_shell = 1.000000 (DEFAULT = 0.000000)
[ INFO] [1352732805.943757737]: SEND: CAT_COMMON/enemy_colors = 3.000000 (DEFAULT = 1.000000)
[ INFO] [1352732805.943935731]: SEND: CAT_APPLI/navdata_options = 268435456.000000 (DEFAULT = 65537.000000)
[ INFO] [1352732805.944122737]: SEND: CAT_USER/euler_angle_max = 0.500000 (DEFAULT = 0.209440)
[ INFO] [1352732805.944389896]: SEND: CAT_USER/control_vz_max = 2000.000000 (DEFAULT = 700.000000)
[ INFO] [1352732805.944693636]: SEND: CAT_USER/control_yaw = 350.000000 (DEFAULT = 1.745329)
[ INFO] [1352732805.944924632]: SEND: CAT_SESSION/video_codec = 129.000000 (DEFAULT = 32.000000)
[ INFO] [1352732805.945146851]: SEND: CAT_APPLI/bitrate = 4000.000000 (DEFAULT = 1000.000000)
[ INFO] [1352732805.945353133]: SEND: CAT_SESSION/max_bitrate = 4000.000000 (DEFAULT = 1000.000000)
[ INFO] [1352732805.945564494]: SEND: CAT_SESSION/groundstripe_colors = 8.000000 (DEFAULT = 16.000000)
[ INFO] [1352732805.945932566]: SEND: CAT_SESSION/detect_type = 10.000000 (DEFAULT = 3.000000)
[ INFO] [1352732805.946148427]: SEND: CAT_SESSION/detections_select_h = 32.000000 (DEFAULT = 0.000000)
[ INFO] [1352732805.946357131]: SEND: CAT_SESSION/detections_select_v_hsync = 128.000000 (DEFAULT = 0.000000)
